# Map

In [2]:
seq = [1,2,3,4,5] # multiply * 2 every element in the list

In [4]:
def times2(num):
    return num*2

In [6]:
print(list(map(times2,seq)))

[2, 4, 6, 8, 10]

# Lambda Function

In [7]:
myfunc = lambda var : var*2
myfunc(5)

10

In [9]:
seq2 = list(map(lambda x:x*2,seq))
seq2

[2, 4, 6, 8, 10]

# Filter

In [12]:
list(filter(lambda num: num%2 == 0,seq2))

[2, 4, 6, 8, 10]

# Other most common used functions

In [14]:
# upper case and lower case of a string
str1 = "hello There"
print(str1.upper()) # returns uppercase string
print(str1.lower()) # returns lowercase string

HELLO THERE
hello there

In [15]:
# split
print(str1.split(" "))

['hello', 'There']

In [16]:
d = {1:"hello",2:"there"}

In [17]:
d.items()

dict_items([(1, 'hello'), (2, 'there')])

In [18]:
d.values()

dict_values(['hello', 'there'])

In [22]:
list1 = [1,2,3]

In [23]:
list1.pop() #removes last element in a list
list1

[1, 2]

In [24]:
list1.pop(0) # removes lement in the index given
list1

[2]

In [ ]:
# tuple unpacking

In [25]:
tup = [(1,2),(3,4),(5,6)]

In [27]:
for item1,item2 in tup:
    print(item1,item2)

1 2
3 4
5 6