# Looping

In [3]:
seq = [1,2,3,4,5]

In [2]:
for item in seq: # item is just a temporary variable
    print(item)

1
2
3
4
5

In [1]:
i = 1
while(i<5):
    print("i is {}".format(i))
    i =i+1; # increment it every time

i is 1
i is 2
i is 3
i is 4

In [4]:
for x in seq:
    print(x)

1
2
3
4
5

In [5]:
range(0,5)

range(0, 5)

In [6]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension

In [8]:
x = [1,2,4,5]
out = []

for num in x:
    out.append(num)
    
print(out)

[1, 2, 4, 5]

In [10]:
out = [item for item in x]
out

[1, 2, 4, 5]

In [11]:
out_multiple = [item**2 for item in x]

In [12]:
print(out_multiple)

[1, 4, 16, 25]

# Functions

In [13]:
def myfunc (param1):
    return param1

myfunc(1)

1

In [18]:
def myfunc(name ="default"): 
    return ("Hello "+name ) # concatination
myfunc()

'Hello default'

In [20]:
myfunc # returns what kind of data is myfunc

In [21]:
def square(x):
    return x**2
square(3)

9

In [ ]:
range # press shift+tab for documentation