In [11]:
dict1 = {
    "key1":"value1",
    "key0":123,
    "key2":[1,2,3,4],
    "kdict":{1:[1,2,4]}
}
print(dict1["key2"])
list1 = dict1["key2"]
print(list1[0])
dict_Dict = dict1["kdict"]
list_dict_Dict = (dict_Dict[1][1])
print(list_dict_Dict)

[1, 2, 3, 4]
1
2

# Tuple

In [13]:
tuple1 = (1,2,3)
list2 = [1,2,3]
#lets try reassigning or changing the value at one index

In [16]:
list2[0] = "hello"
#tuple1[0] = "hello" # throws an error that the assignment of the variable is not supported hence,
#tuples are immutable
list2 
#lists are mutable since the orginal value can be changed
#tuple1

['hello', 2, 3]

In [20]:
print(set([1,1,1,3,2,2,4,5,6,4,5,5]))
#declared it curved braces and returns a set of unique elements in sorted order also

{1, 2, 3, 4, 5, 6}

In [24]:
s = {1,2,3}
s.add(5)
s
s.add(5) #ignores it since the value inside it is already present
s

{1, 2, 3, 5}

# Boolean

In [25]:
1 == 1

True

In [26]:
1>=3

False

In [27]:
1 = 1 # python thinks that you are doing variable assignment and hence returns an error

SyntaxError: cannot assign to literal (Temp/ipykernel_6544/2394296259.py, line 1)

In [28]:
1 != 3

True

In [29]:
"hi" == "bye"

False

In [30]:
1 < 2 and 2 < 3  # and operators all has to be true, else its false

True

In [31]:
1 < 2 and 2 > 3

False

In [33]:
1>2 or 2<3 # or operator returns true if one of the operand is true

True

# Conditional Statements

In [34]:
if 1<2:
    # note the condition is true
    print("yep")

yep

In [37]:
if True:
    print("perform code")

perform code

In [40]:
if (1=2):
    print("First")
elif (3 == 3):
    print("Middle")
else:
    print("Last")

Middle