# Multi-Index and Index Hierarchy

In [14]:
import pandas as pd 
import numpy as np
from numpy.random import randn

In [15]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) # creates groups of tuples 
# tuples in a list 
hier_index = pd.MultiIndex.from_tuples(hier_index) 
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [18]:
df

             A         B
G1 1  1.225819  0.274440
   2 -0.110112  0.827836
   3  1.428328  0.894209
G2 1 -0.918724  0.045779
   2  0.194818  0.589104
   3 -1.332099 -0.659496

In [23]:
df.loc['G1']['A']

1    1.225819
2   -0.110112
3    1.428328
Name: A, dtype: float64

In [26]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    1.225819  0.274440
       2   -0.110112  0.827836
       3    1.428328  0.894209
G2     1   -0.918724  0.045779
       2    0.194818  0.589104
       3   -1.332099 -0.659496

In [33]:
df.loc['G1'][['A','B']].loc[1]

A    1.225819
B    0.274440
Name: 1, dtype: float64

In [35]:
df

                   A         B
Groups Num
G1     1    1.225819  0.274440
       2   -0.110112  0.827836
       3    1.428328  0.894209
G2     1   -0.918724  0.045779
       2    0.194818  0.589104
       3   -1.332099 -0.659496

Cross Section

In [40]:
df.xs(1,level = 'Num') # grabbing particular data 
# accessing the data frame or the data level at the particular level

               A         B
Groups
G1      1.225819  0.274440
G2     -0.918724  0.045779