# Pandas Dataframes

In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
print(np.random.seed(101))

None

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z']) 
# generates random numbers with 5 rows and four columns, 
# the heading of the rows and columns are given the brackets, 1st is heading of rows and 2nd is columns
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [6]:
df['w'] #recomended
type(df['x'])
type(df)

pandas.core.frame.DataFrame

In [7]:
df.w 
# not recommended to use since 
# there are a lot of methods that are used 
# and pandas will get confused for what command to run

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [8]:
name = ['x','y'] # extracting multiple columns using an array
df[name]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [9]:
df['new'] = df['x']+df['z'] # will add a new column 
#and the data in x and z column will be added and appended into the new column
# and it'll be at the last index
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.131958
b  0.651118 -0.319318 -0.848077  0.605965  0.286647
c -2.018168  0.740122  0.528813 -0.589001  0.151122
d  0.188695 -0.758872 -0.933237  0.955057  0.196184
e  0.190794  1.978757  2.605967  0.683509  2.662266

In [10]:
df.drop('new',axis = 1, inplace = True) # drop command removes the data, 
# the first command is the axis, # the second command is axis,
# if axis = 0, then it represents rows, 
# if axis = 1, then it represents columns,
# inplace = True, then it represents to remove the data from the original dataframe
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [11]:
df.drop('e',axis = 0, inplace = True)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [12]:
df.shape # returns a tuple, 
# if observed properly, the numbers the represent the axis and 
# the rows has value of 0, and columsn represent the value of 1 
# just like indexing

(4, 4)

In [13]:
df[['z','y']]

          z         y
a  0.503826  0.907969
b  0.605965 -0.848077
c -0.589001  0.528813
d  0.955057 -0.933237

In [14]:
df.loc['a'] # location based indexing or label based index

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [15]:
df.iloc[1] # index based extraction of the data

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Name: b, dtype: float64

In [19]:
x = df.iloc[0]
x

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [20]:
df.loc['b','y'] # extraction of data based on labels

-0.8480769834036315

In [22]:
df.loc[['a','b'],['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077