# Missing data values in dataframe

In [1]:
import pandas as pd 
import numpy as np
from numpy.random import randn

In [3]:
d = {"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[1,2,3]}
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [5]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df.dropna() # returns a data frame which does not consist any nan values. 
# Even if one is present, then also it removes the value in the dataframe
# If there are no arguments given the column then it runs the code for rows only

     A    B  C
0  1.0  5.0  1

In [7]:
df.dropna(axis= 1) # this checks if any missing data is present in a column 
#if any data is missing then it removes the entire column

   C
0  1
1  2
2  3

# Thresh

If you want to set a threshold into the code of limited number of na in the dataframe row or column then use thresh

In [10]:
df.dropna(thresh = 2) 
# if observed in row 2, there is only one NaN value,
# it didnt drop the row/column NaN value even though there was one.

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

# Filling back the missing values

In [12]:
df.fillna(value = "Fill")
# it returns the dataframe and replaces all the NaN values with the value given
# as an input

      A     B  C
0   1.0   5.0  1
1   2.0  Fill  2
2  Fill  Fill  3

In [13]:
df['A'].fillna(value = df['A'].mean()) 
# this will fill the remaining data within the mean of the other data

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64