# Pandas :-

# Series

Series is an important feature in pandas library which is very simple to numpy arrays, the main differentiating part of this method is that, The variables or values inside the series are joined or paired with labels

In [1]:
import numpy as np
import pandas as pd

In [10]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(labels)
d = {"a":10,"d":20,"c":30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data = my_data, index = labels) #changing labels using another array

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr) # adding numpy array into series

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series(d) # adding dictionaries into series

a    10
d    20
c    30
dtype: int64

In [15]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series(data = [sum,print,len]) # holding built-in functions inside a series

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
ser1 = pd.Series([1,2,3,4],["USA","GER","USSR","JPN"])

In [20]:
ser1

USA     1
GER     2
USSR    3
JPN     4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,3,4],['USA','GER','ITL','JPN'])
ser2

USA    1
GER    2
ITL    3
JPN    4
dtype: int64

# Accessing data from a series

In [27]:
ser2[2] #accessing the index in the series
ser2['ITL']

3

In [31]:
ser3 = pd.Series(data = labels)
ser3[0]

'a'

In [41]:
print(ser3.keys())

RangeIndex(start=0, stop=3, step=1)

# Adding two series

In [34]:
ser4 = ser1 + ser2
ser4

GER     4.0
ITL     NaN
JPN     8.0
USA     2.0
USSR    NaN
dtype: float64

The addition or subtraction operation within two series is as follows,
The interpretor will try to match the labels, 
1. If the labels match and are present within the two series, then it will sum it up and store it in float, since it is easy to recover the data, same goes to numpy array, 
2. If its not found in the other series, then it will return NaN object