In [3]:
import pandas as pd
pd.read_excel("yelp.xlsx")
#this database has information about local businesses in 13 cities in Pennsylvania (PA) and Nevada (NV)

C:\Users\user\AppData\Roaming\Python\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,name,category_0,category_1,take_out,review_count,stars,city_id,state_id
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11,2.5,1,1
1,Discount Tire Center,Tires,Automotive,False,24,4.5,1,1
2,Frankfurters,Restaurants,Hot Dogs,True,3,4.5,1,1
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6,4.0,1,1
4,Kuhn's Market,Food,Grocery,False,8,3.5,1,1
...,...,...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7,2.5,13,2
596,SA Recycling,Local Services,Recycling Center,False,3,1.5,13,2
597,Jack In the Box,Restaurants,Fast Food,True,12,3.0,13,2
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9,4.0,13,2
599,A Sunrise Towing,Automotive,Towing,False,4,1.0,13,2

In [5]:
# Loading data- Pandas module

xls = pd.ExcelFile('yelp.xlsx')
df = xls.parse('yelp_data') # read the excel sheet data

C:\Users\user\AppData\Roaming\Python\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [7]:
print(type(df)) # type of object a dataframe is

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(len(df)) # length of the dataframe

600

In [9]:
print(df.shape) # the dimensions of the dataframe

(600, 8)

In [11]:
print(df.columns) # this will print out column headers by accessing the columns attribute

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count', 'stars',
       'city_id', 'state_id'],
      dtype='object')

In [12]:
print(df.dtypes) # type of data stored in each column

name             object
category_0       object
category_1       object
take_out           bool
review_count      int64
stars           float64
city_id           int64
state_id          int64
dtype: object

In [13]:
print(df.describe()) # provides various statistics to the dataframe

       review_count       stars     city_id    state_id
count    600.000000  600.000000  600.000000  600.000000
mean      33.771667    3.495000    9.193333    1.500000
std       86.901895    0.955596    2.997933    0.500417
min        3.000000    1.000000    1.000000    1.000000
25%        5.000000    3.000000    8.000000    1.000000
50%       10.000000    3.500000   10.500000    1.500000
75%       25.250000    4.000000   12.000000    2.000000
max     1305.000000    5.000000   13.000000    2.000000

In [15]:
print(df.head()) #describes the first 5 rows as a default value in the dataframe 
print(df.head(20)) # The input argument will provide the given number of rows in the dataframe

                           name   category_0       category_1  take_out  \
0  China Sea Chinese Restaurant  Restaurants          Chinese      True
1          Discount Tire Center        Tires       Automotive     False
2                  Frankfurters  Restaurants         Hot Dogs      True
3             Fred Dietz Floral     Shopping  Flowers & Gifts     False
4                 Kuhn's Market         Food          Grocery     False

   review_count  stars  city_id  state_id
0            11    2.5        1         1
1            24    4.5        1         1
2             3    4.5        1         1
3             6    4.0        1         1
4             8    3.5        1         1
                            name                    category_0  \
0   China Sea Chinese Restaurant                   Restaurants
1           Discount Tire Center                         Tires
2                   Frankfurters                   Restaurants
3              Fred Dietz Floral                      Shopping
4                  Kuhn's Market                          Food
5                 Lincoln Bakery                          Food
6               Luigi's Pizzeria                   Restaurants
7     Mane Attractions Unlimited                   Hair Salons
8            R & B's Pizza Place                   Restaurants
9                     Rusty Nail                   Restaurants
10                    Star Nails                 Beauty & Spas
11                          Vivo                   Restaurants
12                 Emil's Lounge                          Bars
13          Grand View Golf Club                   Active Life
14            Advance Auto Parts                    Automotive
15         Alexion's Bar & Grill                          Bars
16              Alteration World                Local Services
17                      Amerifit                   Active Life
18  Barb's Country Junction Cafe                   Restaurants
19         Carnegie Free Library  Public Services & Government

                category_1  take_out  review_count  stars  city_id  state_id
0                  Chinese      True            11    2.5        1         1
1               Automotive     False            24    4.5        1         1
2                 Hot Dogs      True             3    4.5        1         1
3          Flowers & Gifts     False             6    4.0        1         1
4                  Grocery     False             8    3.5        1         1
5                 Bakeries      True            25    4.0        1         1
6                    Pizza      True            18    4.0        1         1
7            Beauty & Spas     False             4    3.0        1         1
8                    Pizza      True            17    4.0        1         1
9   American (Traditional)      True            32    3.5        1         1
10             Nail Salons     False             7    2.5        1         1
11                 Italian     False             3    5.0        1         1
12          American (New)      True            26    4.5        2         1
13                    Golf     False             3    5.0        2         1
14   Auto Parts & Supplies     False             3    3.5        3         1
15  American (Traditional)      True            23    4.0        3         1
16    Sewing & Alterations     False            10    4.5        3         1
17                  Boxing     False             8    3.0        3         1
18                   Cafes      True             9    4.0        3         1
19               Libraries     False             4    4.5        3         1

In [18]:
df = df.drop_duplicates() # this will delete the repetitive common data found in all rows
df = df.drop_duplicates(subset = ['name']) # this will delete repetitive or common data found in particular column

In [17]:
print(df)

                                                  name      category_0  \
0                         China Sea Chinese Restaurant     Restaurants
1                                 Discount Tire Center           Tires
2                                         Frankfurters     Restaurants
3                                    Fred Dietz Floral        Shopping
4                                        Kuhn's Market            Food
..                                                 ...             ...
595  Republic Services of Southern Nevada Recycling...  Local Services
596                                       SA Recycling  Local Services
597                                    Jack In the Box     Restaurants
598                               Custom Hearth & Door        Shopping
599                                   A Sunrise Towing      Automotive

                          category_1  take_out  review_count  stars  city_id  \
0                            Chinese      True            11    2.5        1
1                         Automotive     False            24    4.5        1
2                           Hot Dogs      True             3    4.5        1
3                    Flowers & Gifts     False             6    4.0        1
4                            Grocery     False             8    3.5        1
..                               ...       ...           ...    ...      ...
595                 Recycling Center     False             7    2.5       13
596                 Recycling Center     False             3    1.5       13
597                        Fast Food      True            12    3.0       13
598  Heating & Air Conditioning/HVAC     False             9    4.0       13
599                           Towing     False             4    1.0       13

     state_id
0           1
1           1
2           1
3           1
4           1
..        ...
595         2
596         2
597         2
598         2
599         2

[600 rows x 8 columns]

In [20]:
# querying data
# To only the selec the name of the data, we must specify

pandas_names = df['name']
print(pandas_names)
# this will print out the names present in the data set

0                           China Sea Chinese Restaurant
1                                   Discount Tire Center
2                                           Frankfurters
3                                      Fred Dietz Floral
4                                          Kuhn's Market
                             ...
594                                       Domino's Pizza
595    Republic Services of Southern Nevada Recycling...
596                                         SA Recycling
598                                 Custom Hearth & Door
599                                     A Sunrise Towing
Name: name, Length: 566, dtype: object

In [22]:
#query the location of the first 100 businesses
atts =['name','city_id','state_id'] 
df[atts].head(100)
# but this only shows id  for each city and state but we want to see the actual cities and states.
# We need to joint this data to other data sets

                                               name  city_id  state_id
0                      China Sea Chinese Restaurant        1         1
1                              Discount Tire Center        1         1
2                                      Frankfurters        1         1
3                                 Fred Dietz Floral        1         1
4                                     Kuhn's Market        1         1
..                                              ...      ...       ...
96   Animal Rescue League Shelter & Wildlife Center        8         1
97                           Aracri's Greentree Inn        8         1
98                            Atch-Mont Real Estate        8         1
99                               Atria's Restaurant        8         1
100                                  Au Bon Pain Co        8         1

[100 rows x 3 columns]

# Loading, Inspecting and Querying Data